<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Magento_Backend::content_elements">
                        <resource id="Mooore_WordpressIntegration::Site" sortOrder="10" title="Site">
                            <resource id="Mooore_WordpressIntegration::Site_save" sortOrder="10" title="Save Site"/>
                            <resource id="Mooore_WordpressIntegration::Site_delete" sortOrder="20" title="Delete Site"/>
                            <resource id="Mooore_WordpressIntegration::Site_update" sortOrder="30" title="Update Site"/>
                            <resource id="Mooore_WordpressIntegration::Site_view" sortOrder="40" title="View Site"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
