<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add action="mooore_wordpressintegration/site/index"
             id="Mooore_WordpressIntegration::mooore_wordpressintegration_site" module="Mooore_WordpressIntegration"
             parent="Magento_Backend::content_elements" resource="Magento_Backend::content" sortOrder="100" title="Wordpress Sites"/>
    </menu>
</config>
